<br>
<br>
<hr>
<h4>Sign Up</h4>
<div class="container">
  <title>SignUp</title>
  <div class="row">
    <div class="span4">
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>