<br>
<br>
<hr>
<h4>User Information</h4>
<%#= flash[:notice] %>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<hr>
<%= form_for @url do |f| %>
  <%= f.label 'Original Url' %>
  <%= f.text_field :original %>
  <%= f.submit 'Save' %>
<% end %>
<hr>
<h4>Your Links</h4>
<div class="well">
  <div class="table-responsive">
  <table class='table'>
    <thead>
      <tr>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Visits</th>
      </tr>
    </thead>
    <% @user.shortened_urls.each do |url| %>
    </tbody>    
      <% unless url.original.blank? %>
        <td> <%= url.original %></td>
        <td><%= link_to "#{root_url}" + "visits/" + "#{url.short}", root_url + "visits/" + "#{url.short}" %></td>
        <td><%= url.visits.count %></td>
      <% end %>
    </tbody>
    <% end %>
  </table>
  </div>
</div>
